.title style="padding-bottom:0.2em" It's done !
.lead You successfully made changes on #{@run.cost} videos

.buttons.mt-5
  = link_to "Return to home", runs_select_videos_path, class: "btn btn-primary"
