// Custom bootstrap variables must be set or imported *before* bootstrap.

$theme-colors: (
  "primary": #4285f4
);

@import "bootstrap";

*,
*:before,
*:after {
    box-sizing: border-box;
}

.body {
  color: #424242;
}

.step {
  position: relative;
  min-height: 46px /* circle-size */ ;
  min-height: 6em;
}

.step > div:first-child {
  position: static;
  height: 0;
}

.step > div:last-child {
  margin-left: 46px ;
  padding-left: 16px;
}

.circle {
  background: #4285f4;
  width: 46px;
  height: 46px;
  line-height: 46px;
  border-radius: 23px;
  position: relative;
  color: white;
  text-align: center;
  font-size: 1.2em;
}

.line {
  position: absolute;
  border-left: 1px solid gainsboro;
  left: 23px;
  bottom: 10px;
  top: 56px;
}

.step:last-child .line {
  display: none;
}

.title {
  line-height: 46px;
  font-weight: bold;
  font-size: xx-large;
  color: #505050;
  padding-bottom: 1em;
}

.body {
  margin-bottom: 1em;
  height: 30em;
  overflow: scroll;
  background-color: $light;
  border: 1px solid #ececec;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #cecece;
}

.buttons {
  padding-bottom: 3em;
}

.yt_title_and_desc {
  width: 40em;
  margin-left: 1em;
  margin-top: auto;
  margin-bottom: auto;
}

.yt_title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.yt_description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #a9a9a9;
  font-size: 0.8em;
}

.youtube_thumb_stack {
  margin-left: 1em;
  box-shadow: 1px 1px 1px black,
    2px 2px 1px black,
    3px 3px 1px #a9a9a9,
    4px 4px 1px black,
    5px 5px 1px black,
    6px 6px 1px #a9a9a9,
    7px 7px 1px black,
    8px 8px 1px black,
    9px 9px 1px #a9a9a9,
    10px 10px 1px black,
    11px 11px 1px black,
    12px 12px 1px #a9a9a9,
    13px 13px 1px black,
    14px 14px 1px black,
    15px 15px 1px #a9a9a9;
}

.youtube_videos_count {
  padding-top: 1.5em;
  font-size: 0.9em;
  font-weight: 400;
  margin-left: 2em;
}

.yt_description_review {
  width: 30em;
  margin-left: 4em;
  padding: 6px 12px 2em 12px;
  background: white;
  border: 1px solid #ced4d9;
  border-radius: 5px;
  color: #495057;
}

.credit_needed {
  margin-bottom: 1em;
  margin-left: 1em;
  color: #505050;
}

.right_links {
  float: right;
  position: absolute;
  right: 1em;
  top: 1em;
}

.diff{overflow:auto;}
.diff ul{overflow:auto;list-style:none;margin:0;padding:0;display:table;width:100%;}
.diff del, .diff ins{display:block;text-decoration:none;}
.diff li{padding:0; display:table-row;margin: 0;height:1em;}
.diff li.ins{background:#dfd; color:#080}
.diff li.del{background:#fee; color:#b00}
/* try 'whitespace:pre;' if you don't want lines to wrap */
.diff del, .diff ins, .diff span{white-space:pre-wrap;}
.diff del strong{background:#fcc;}
.diff ins strong{background:#9f9;}
.diff li.diff-comment { display: none; }
.diff li.diff-block-info { background: none repeat scroll 0 0 gray; }
