// Custom bootstrap variables must be set or imported *before* bootstrap.

$theme-colors: (
  "primary": #4285f4
);

@import "bootstrap";

*,
*:before,
*:after {
    box-sizing: border-box;
}

.body {
  color: #424242;
}

.step {
  position: relative;
  min-height: 46px /* circle-size */ ;
  min-height: 6em;
}

.step > div:first-child {
  position: static;
  height: 0;
}

.step > div:last-child {
  margin-left: 46px ;
  padding-left: 16px;
}

.circle {
  background: #4285f4;
  width: 46px;
  height: 46px;
  line-height: 46px;
  border-radius: 23px;
  position: relative;
  color: white;
  text-align: center;
  font-size: 1.2em;
}

.line {
  position: absolute;
  border-left: 1px solid gainsboro;
  left: 23px;
  bottom: 10px;
  top: 56px;
}

.step:last-child .line {
  display: none;
}

.title {
  line-height: 46px;
  font-weight: bold;
  font-size: xx-large;
  color: #505050;
  padding-bottom: 1em;
}

.body {
  margin-bottom: 1em;
  height: 30em;
  overflow: scroll;
  border: 1px solid #c5c5c5;
}

.buttons {
  padding-bottom: 3em;
}

.yt_title_and_desc {
  width: 40em;
  margin-left: 1em;
  margin-top: auto;
  margin-bottom: auto;
}

.yt_title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.yt_description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #a9a9a9;
  font-size: 0.8em;
}
